@import '../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css'
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css'

.board
  display grid
  grid-template-columns 33.33% 33.33% 33.33%

.item
  margin 5px

.nav
  position sticky
  top 0
  z-index 1020

.table 
  width: 100%;

.progress-bar
  color #fff
  width 100%
  height 1.5rem

.progress-meter
  text-align center
  justify-content center
  display flex
  flex-direction: column
